$color_1: white;
$color_2: black;
$font_family_1: monospace;
$background_color_1: rgba(0,0,0,0.8);
$background_color_2: black;

/* Six columns side by side */
body {
	font-family: $font_family_1;
}
img {
	vertical-align: middle;
}
.imageContainer {
	padding: 10px;
	max-width: 1000px;
	position: relative;
	margin: auto;
}
.prev {
	cursor: pointer;
	position: absolute;
	top: 50%;
	padding: 15px;
	width: auto;
	color: $color_1;
	font-weight: bold;
	font-size: 24px;
	transition: 0.5s ease;
	border-radius: 0 4px 4px 0;
	user-select: none;
	margin-top: -22px;
	&:hover {
		background-color: $background_color_1;
	}
}
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	padding: 15px;
	width: auto;
	color: $color_1;
	font-weight: bold;
	font-size: 24px;
	transition: 0.5s ease;
	border-radius: 0 4px 4px 0;
	user-select: none;
	margin-top: -22px;
	right: 0;
	border-radius: 3px 0 0 3px;
	&:hover {
		background-color: $background_color_1;
	}
}
.title {
	color: $color_1;
	padding: 9px 11px;
	position: absolute;
	font-size: 30px;
	font-weight: bold;
	width: 100%;
	bottom: 60px;
	text-align: center;
}
.description {
	color: $color_1;
	padding: 9px 11px;
	position: absolute;
	font-size: 20px;
	font-weight: bold;
	width: 100%;
	bottom: 30px;
	text-align: center;
}
#timer {
	color: $color_1;
	padding: 9px 11px;
	position: absolute;
	font-size: 40px;
	font-weight: bold;
	width: 100%;
	bottom: 94px;
	text-align: center;
}
.demo {
	opacity: 0.2;
	&:hover {
		opacity: 1;
	}
}
.active {
	opacity: 1;
	background-color: $background_color_2;
}
.row {
	&:after {
		content: "";
		display: inline-block;
		clear: both;
		transition: background-color 0.6s ease;
		padding-bottom: 10;
	}
}
.column {
	float: left;
	width: 33.33%;
}
@media only screen and (max-width: 300px) {
	.text {
		font-size: 11px;
		color: $color_2;
	}
	.row {
		padding-bottom: 10px;
	}
}
